<div class="feedback">
    <h5 class="title feedback-title">
        {{title}}
        <span class="toggle-collapse">
            <button type="button" class="btn btn-link" (click)="toggleCollapse()">
                Collapse/expand all {{items}}
            </button>
        </span>
    </h5>
    <div *ngIf="activityData.length>0; else noActivityData">
        <app-feedback-group *ngFor="let act of activityData" [activity]="act" [item]="item" [items]="items" [organisationInfo]="organisationInfo" [version]="version" [guidanceLinks]="guidanceLinks"></app-feedback-group>
    </div>
</div>

<ng-template #noActivityData>
    <p>There is no feedback to display</p>
</ng-template>
