// .title {
//   // display: inline;
// }

.toggle-collapse {
  float: right;
  margin-right: -10px;

  .btn {

  }
}

.feedback-title {
  font-size: 1em;

  .btn.btn-link {
    font-size: 1em;
    margin-top: -10px;
  }
}

.feedback{
  border: 1px lightgray solid;
  padding:10px;
}
