<div id="header" class="header">
  <div class="BannerNotice__BannerElement1-znsg4q-0 iBXooL">
    <div class="BannerNotice__BannerElement2-znsg4q-1 iLlyNt">!</div>
    <div class="BannerNotice__BannerElement3-znsg4q-2 iUzJmb">The IATI Validator is in a testing phase. If
      you find any issues, please raise them <a
        href="https://github.com/data4development/IATI-data-validator/issues/new/choose" target="_blank"
        rel="noopener noreferrer" class="BannerNotice__BannerElement4-znsg4q-3 jdNTKJ">on Github</a> or via the "Provide
      feedback" button on the right.</div>
  </div>
  <!--<app-navbar-top></app-navbar-top>-->
  <app-navbar></app-navbar>
  <div class="container main-title-container">
    <h2 class="main-title">IATI Validator</h2>
  </div>
</div>
