@import "variables";

.filter {
  margin-bottom: 20px;
}


.caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $background-title;
}

.title {
  font-weight: 700;
  display: inline;
}

.show-label {
  float: right;
  margin-right: -10px;
}

.show-label .btn {
  padding: 0;
  border: 0;
}






