
@import "variables";

.card {
  margin-bottom: 20px;
}

.error {
  background-color: $severity-error;
  color: white;
}
.warning {
  background-color: $severity-warning;
  color: white;
}
.improvement {
  background-color: $severity-improvement;
  color: white;
}
.optimisation {
  background-color: $severity-optimisations;
  color: white;
}





