@import "variables";

.filter {
  margin-bottom: 20px;
}

.error {
  background-color: $severity-error;
  color: white;
}
.warning {
  background-color: $severity-warning;
  color: white;
}
.improvement {
  background-color: $severity-improvement;
  color: white;
}
.optimisation {
  background-color: $severity-optimisations;
  color: white;
}

.severity-count {
  font-weight: 700;
  background-color: #2C3E50;
  color: #fff;
  margin-left: 6px;
}

.caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $background-title;
}

.title {
  font-weight: 700;
  display: inline;
}

.show-label {
  float: right;
  margin-right: -10px;
}

.select {
  margin-right: -10px;
  float: right;
}




