<div class="filter">
  <ul class="list-group">
    <li class="list-group-item caption">
      <div class="title">Severity</div>
      <span class="show-label">Show/hide</span>
    </li>
    <li *ngFor="let sev of severities" class="list-group-item" [className]="'list-group-item ' + sev.id">
      {{ sev.name }}
      <span class="severity-count">({{sev.count}})</span>
      <span class="select">
        <app-checkbox [(checked)]="sev.show" [name]="'filterSev' + sev.name" (checkedChange)="selectionChanged()"></app-checkbox>
      </span>
    </li>
  </ul>
</div>
