<div class="card">
    <div class="card-body">
      <h4 class="card-title">Severity</h4>
      <div class="card-text">
          <ul class="list-group">
              <li class="list-group-item error">Errors  <span>189</span> <app-checkbox [checked]="true"></app-checkbox>        </li>
              <li class="list-group-item warning">Warnings <app-checkbox></app-checkbox> </li>
              <li class="list-group-item improvement"> Improvements <app-checkbox></app-checkbox> </li>
              <li class="list-group-item optimisation">Optimisations <app-checkbox [checked]="true"></app-checkbox> </li>
            </ul>
      </div>
    </div>
  </div>
