<div class="filter">
  <ul class="list-group">
    <li class="list-group-item caption">
      <div class="title">Messages</div>
      <span  class="show-label text-muted">Expand row to see the messages.</span>
      <!-- <span *ngIf="allSelected()" class="show-label">Show/hide</span>
      <span *ngIf="!allSelected()" class="show-label"><button type="button" class="btn btn-link" (click)="selectAll()">Select all</button></span> -->
    </li>
    <app-filter-severity-item *ngFor="let sev of severities" [severity]="sev" (selectedChanged)="selectionChanged()"></app-filter-severity-item>
  </ul>
</div>
