@import "variables";

.filter {
  margin-bottom: 20px;
}

.severity-count {
  display: inline-block;
  min-width: 28px;
  margin-right: 6px;
  text-align: right;
}

.caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $background-title;
}

.title {
  font-weight: 700;
  display: inline;
}

.show-label {
  float: right;
  margin-right: -10px;
}

.show-label .btn {
  padding: 0;
  border: 0;
}

.select {
  margin-right: -10px;
  float: right;
}

.unselected {
  text-decoration: line-through;
}
