<div class="filter">
  <ul class="list-group">
    <li class="list-group-item caption">
      <div class="title">Sources</div>
      <span class="show-label">Show/hide</span>
    </li>
    <li *ngFor="let cat of sources" class="list-group-item">
      <span class="severity-count">{{cat.count}}</span>
      {{ cat.name }}
      <span class="select">
        <app-checkbox [(checked)]="cat.show" [name]="'filterSev' + cat.name" (checkedChange)="selectionChanged()"></app-checkbox>
      </span>
    </li>
  </ul>
</div>
