<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Page not found</h1>

    <p class="lead">Sorry, we could't find that page.</p>
    <hr class="my-4">
    <p>
      Here are some fun things to do on this site:
    </p>

    <div class="list-group">
      <a class="list-group-item list-group-item-action list-group-item-success" routerLink="/">Home</a>
      <a class="list-group-item list-group-item-action list-group-item-success" routerLink="/organisations">Browse public IATI data</a>
      <a class="list-group-item list-group-item-action list-group-item-success" routerLink="/validate">Validate your IATI file(s)</a>
    </div>

  </div>
</div>
