.iati {
  &-button {
    background: transparent;
    border: none;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    color: #121212;
    background-color: #06dbe4;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    text-decoration: none;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    transition: all, ease-in-out, 0.3;

    &:hover {
      background-color: #155366;
      color: #fff;
    }
  }
}
