@import "variables";

.critical{
  background-color: $severity-critical;
  color:white;
}

.error {
  background-color: #f73357;
  color: white;
}
.warning {
  background-color: $severity-warning;
  color: white;
}
.improvement {
  background-color: $severity-improvement;
  color: white;
}
.notification {
  background-color: #e3e3e3;
  color: white;
}

.severity-count {
  display: inline-block;
  min-width: 28px;
  margin-right: 6px;
  text-align: right;
}


.select {
  margin-right: -10px;
  float: right;
}

.unselected {
  text-decoration: line-through;
}


.hidden {
  display: none;
}

.title-col {
  cursor: pointer;
}

.btn.collapser {
  margin-left: 12px;
  padding: 0;
  // font-size: 1.40625rem;
  // font-weight: 700;
  line-height: 1;
  text-shadow: none;
  opacity: .7;
  border-style: none;
}

.btn.collapser:hover {
  background-color: inherit;
}

.btn.collapser:focus, .btn.collapser.focus {
  box-shadow: none;
}

.show-label {
  float: right;
  margin-right: -10px;
}

.show-label .btn {
  padding: 0;
  border: 0;
}

.filter-row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  color: $gray-600;
}

.messages-selected-count {
  margin-left: 12px;
  padding: 6px;
}
