<li class="list-group-item" [className]="'list-group-item ' + severity.id" [ngClass]="{'hidden': severity.types.length===0}">
  <div class="severity-heading row">
    <div class="col title-col" (click)="collapse()">
      <span ngClass="{'unselected':!severity.show}"> {{ severity.name }}: {{ severity.types.length }} types</span>
      <span *ngIf="!allSelected()" class="badge badge-light text-danger float-right messages-selected-count"> ({{ totalTypesSelected() }} of {{ totalTypes() }} messages selected.) </span>
      <!-- <span class="select">
        <app-checkbox [(checked)]="severity.show" [name]="'filterSev' + severity.name" (checkedChange)="selectionChanged()"></app-checkbox>
      </span> -->
    </div>

    <div class="col-auto collapse-col">
        <app-checkbox *ngIf="isCollapsed" [(checked)]="severity.show" [name]="'filterSrc' + severity.name" (checkedChange)="selectionChanged()"></app-checkbox>
      <button type="button" class="btn btn-outline-light collapser" (click)="collapse()">
        <span *ngIf="!isCollapsed"><img src="assets/icons/arrow_down_24_white.svg" alt="icon arrow down"></span>
        <span *ngIf="isCollapsed"><img src="assets/icons/arrow_up_24_white.svg" alt="icon arrow up"></span>
      </button>
    </div>
  </div>
</li>


<div class="type-messages" [ngbCollapse]="isCollapsed">
  <li *ngIf="severity.types.length!==0" class="list-group-item filter-row">
    {{ severity.description }}
    <span *ngIf="allSelected()" class="show-label"><button type="button" class="btn btn-link" (click)="unSelectAll()">Unselect all</button></span>
    <span *ngIf="!allSelected()" class="show-label"><button type="button" class="btn btn-link" (click)="selectAll()">Select all</button></span>
  </li>
  <app-filter-type-message *ngFor="let mes of severity.types; trackBy: getMessageShow" [typeMessage]="mes" (selectedChanged)="selectionChanged()"></app-filter-type-message>
</div>
