<div *ngIf="document" class="wrapper">
  <div
    class="row"
    (click)="rowClick()"
    [ngClass]="{'file-success': fileStatus() === 'success', 
                'file-warning': fileStatus() === 'warning',
                'file-error': fileStatus() === 'error',
                'file-critical': fileStatus() === 'critical',
                'no-validation': fileStatus() === 'normal'}"
  >
    <div class="col-12 col-md">
      {{ fileName() }}
    </div>
    <div class="col-12 col-md">
      <span *ngIf="document.first_seen">{{
        document.first_seen | date: "yyyy-MM-dd HH:mm (z)"
      }}</span>
    </div>
    <div class="col-12 col-md">
      <span *ngIf="document.downloaded">{{
        document.downloaded | date: "yyyy-MM-dd HH:mm (z)"
      }}</span>
    </div>
    <div class="col-12 col-md">
      <span *ngIf="document.validation_created">
        {{
          (document ? document.validation_created : "")
            | date: "yyyy-MM-dd HH:mm (z)"
        }}
      </span>
    </div>
    <div class="col-12 d-md-none"><hr /></div>
  </div>
</div>
