@import "../../../styles/variables";

.row {
  padding: 3px 0;
  margin-right: 0;
  margin-left: 0;

}
.row.file-valid {
  cursor: pointer;
  color: $success;
  font-weight: 700;
}
.row.file-invalid {
  cursor: pointer;
  color: $danger;
  font-weight: 700;
}

.row.no-validation {
  font-weight: 700;
}

.row.file-valid:hover, .row.file-invalid:hover  {
  background-color: lightyellow;
}

.dqf-button {
  padding: 0;
}

.button-report-wrapper {
  button {
    font-size: 1em;
  }
}
