@import "../../../styles/variables";

.row {
  padding: 3px 0;
  margin-right: 0;
  margin-left: 0;

}
.row.file-success {
  cursor: pointer;
  color: $success;
  font-weight: 700;
}
.row.file-critical {
  cursor: pointer;
  color: $severity-critical;
  font-weight: 700;
}
.row.file-error {
  cursor: pointer;
  color: $severity-error;
  font-weight: 700;
}
.row.file-warning {
  cursor: pointer;
  color: $severity-warning;
  font-weight: 700;
}

.row.no-validation {
  font-weight: 700;
}

.row.file-success:hover, .row.file-critical:hover, .row.file-error:hover, .row.file-warning:hover {
  background-color: lightyellow;
}

.dqf-button {
  padding: 0;
}

.button-report-wrapper {
  button {
    font-size: 1em;
  }
}
