<div *ngIf="document" class="wrapper">
  <div
    class="row"
    (click)="rowClick()"
    [ngClass]="{'file-success': fileStatus(false) === 'success', 
                'file-warning': fileStatus(false) === 'warning',
                'file-error': fileStatus(false) === 'error',
                'file-critical': fileStatus(false) === 'critical',
                'no-validation': fileStatus(false) === 'normal'}"
  >
    <div class="col-12 col-md filename">
      <span *ngIf="document.validation_created !== null">
        {{ fileName() }}
      </span>
      <a *ngIf="document.downloaded === null" href="{{document.url}}" target="_blank">{{ fileName() }}</a>
    </div>
    <div class="col-12 col-md">
      <span *ngIf="document.first_seen || document.modified">{{
        document.modified || document.first_seen | date: "yyyy-MM-dd HH:mm (z)"
      }}</span>
    </div>
    <div class="col-12 col-md">
      <span *ngIf="document.validation_created">
        {{
          ( document.validation_created ? document.validation_created : "")
            | date: "yyyy-MM-dd HH:mm (z)"
        }}
      </span>
      <span *ngIf="document.validation_created === null">
        Pending
      </span>
      <span *ngIf="document.downloaded === null">
        Download
      </span>
    </div>

    <div class="col-12 col-md">{{ fileStatus(true) }}</div>

    <div class="col-12 col-md">
      <span *ngIf="document.solrize_end">
        {{
          ( document.validation_created ? document.solrize_end : "")
            | date: "yyyy-MM-dd HH:mm (z)"
        }}
      </span>
      <span *ngIf="document.validation_created != null && fileStatus() === 'critical'">
        Not eligible
      </span>
      <span *ngIf="document.solrize_end === null && fileStatus() != 'critical'">
        Pending
      </span>
    </div>

    <div class="col-12 d-md-none"><hr /></div>
  </div>
</div>
