@import "variables";

.category-label {
  font-size: 1.2rem;
  font-weight: 700;
}

.feedback > ul {
  padding: 0;
}

.message {
  font-size: 16px;
  // font-weight: 700;
  font-weight: 500;
  padding: 12px;

  // New
  color: black;
  margin-bottom: 4px;
  background-color: $gray-200;
}

.message-text{
  white-space: pre-line;
}

.feedback-list{
  list-style-type:none;
}

.critical{
  border-left: 6px solid $severity-critical;
}

.error {
  // background-color: #f73357;
  border-left: 6px solid #f73357;
}
.warning {
  // background-color: $severity-warning;
  // color: white;

  border-left: 6px solid $severity-warning;
}
.improvement {
  // background-color: $severity-improvement;
  //color: white;
  border-left: 6px solid $severity-improvement;

}
.notification {
  // background-color: #e3e3e3;
  // color: white;

  border-left: 6px solid #e3e3e3;
}

.context {
  font-size: 15px;
  font-weight: 400;
}
