@import "variables";

.category-label {
  font-size: 1.2rem;
  font-weight: 700;
}

.feedback > ul {
  padding: 0;
}

.message {
  font-size: 16px;
  font-weight: 700;
  padding: 12px;
}

.feedback-list{
  list-style-type:none;
}

.error {
  // background-color: $severity-error;
  border-left: 6px solid $severity-error;
  color: black;
  font-weight: 500;
  margin-bottom: 4px;
  background-color: $gray-200; 
}
.warning {
  background-color: $severity-warning;
  color: white;
}
.improvement {
  background-color: $severity-improvement;
  color: white;
}
.optimisation {
  background-color: $severity-optimisations;
  color: white;
}

.context {
  font-size: 15px;
  font-weight: 400;
}
