<div class="container">
  <div class="organisation-name">
    <h1>{{ organisationData?.title }}</h1>
  </div>

  <div class="row about-organisation">
    <div *ngIf="hasValidLogo()" class="col-md-3 h-100">
      <img  [src]="organisationData?.image_url" class="organisation-logo img-fluid" alt="{{organisationData?.name}}">
    </div>
    <div class="col" [ngClass]="{'col-md-9': hasValidLogo()}" *ngIf="organisationData?.description">
      <h3>Description</h3>
      <p>{{ organisationData?.description }}</p>
    </div>

  </div>

  <div class="workspaces">
    <div class="mycard">  
        <div class="mycard-title">
            Public data
        </div>
        <div class="mycard-body"><p>
            <p class="card-text"><b>IATI files published in the IATI Registry</b></p>
            <app-document-list *ngIf="organisationData?.documents" [documents]='organisationData?.documents'></app-document-list>
        </div>
      </div>
  </div>

</div>
