.organisation-name {
  margin-bottom: 24px;
}

.organisation-logo {
  max-width: 260px;
}

.about-organisation {
  margin-bottom: 20px;
 }

 .workspaces {
  display: flex;
  flex-wrap: wrap;
  //compensate for the margin of the boxes
  margin: 0 -22px;
}

.card-item {
  width: 33%;
}
