<div class="container">
  <div class="organisation-name">
    <h1>{{ organisationData?.name }}</h1>
  </div>

  <div class="row about-organisation">
    <div *ngIf="hasValidLogo()" class="col-md-3 h-100">
      <img  [src]="organisationData?.logo" class="organisation-logo img-fluid" alt="{{organisationData?.slug}}">
    </div>
    <div class="col" [ngClass]="{'col-md-9': hasValidLogo()}" *ngIf="organisationData?.description">
      <h3>Description</h3>
      <p>{{ organisationData?.description }}</p>
    </div>

  </div>

  <div class="workspaces">
    <app-workspace-list-item class="card-item" *ngFor="let ws of workspaces" [workspace]="ws"></app-workspace-list-item>
  </div>

</div>
