@import "variables";

.files {
  border: 1px solid lightgray;
  border-radius: $border-radius;
  margin-bottom: 5em;
}

.files > .heading {
  background-color: $gray-200;
  padding: 6px 0;
  font-weight: 700;
}

.row {
  padding: 3px 0;
  margin-right: 0;
  margin-left: 0;
  font-size: 1.5em;
}
.row.dqf {
  cursor: pointer;
  color: $success;
  font-weight: 700;
}

.row.dqf:hover {
  background-color: lightyellow;
}

.dqf-button {
  padding: 0;
}

p {
  font-size: 1em;
}

.link-paragraph {
  font-size: 1.5em;
}

.result-validation {
  padding-bottom: 5em;
}

.another-files {
  margin-bottom: 2em;
  font-size: 18px;
}

button, .btn {
  font-size: 1em;
  height: 40px;
  max-height: 40px;

  &:disabled {
    &:hover {
      color: #fff;
      background-color: #00c497;
      border-color: #00c497;
      cursor: initial;
    }
  }
}

.validation-result__footer {
  font-size: 18px;

  button, .btn {
    font-size: 0.6em;
  }

  input {
    margin-right: 1em;
    padding: 5px 10px;
    font-size: 0.75em;
  }
}

.copy-url-btn {
  font-size: 0.5em;
}

.saved-email {
  margin-right: 1em;
}

.email-form {
  .ng-invalid.ng-touched {
    border-color: red;
    color: red;

    &::placeholder {
      color: red;
    }
  }
}
