<footer class="footer">
  <div class="footer-content container">
    <div class="footer-content__block">
      <a href="#" class="footer-content__brand"></a>
    </div>
    <div class="footer-content__block">
      <h2 class="footer-content__title">Useful links</h2>
      <ul class="footer-content__list useful-list">
        <li class="useful-list__link-block">
          <a class="useful-list__link" href="https://iatistandard.org/en/contact/">Contact</a>
        </li>
        <li class="useful-list__link-block">
          <a class="useful-list__link" href="#">Terms and conditions</a>
        </li>
        <li class="useful-list__link-block">
          <a class="useful-list__link" href="https://iatistandard.org/en/privacy-policy/">Privacy policy</a>
        </li>
        <li class="useful-list__link-block">
          <a class="useful-list__link" href="https://iatistandard.org/en/translation-faqs/">Translation FAQs</a>
        </li>
      </ul>
    </div>
    <div class="footer-content__block">
      <h2 class="footer-content__title">Newsletter</h2>
      <div class="footer-content__sign-up sign-up-email">
        <p class="sign-up-email__title">Sign up to our newsletter</p>
        <form class="sign-up-email__form">
          <input class="sign-up-email__input" name="newsletter" type="text" placeholder="Enter email address">
          <button type="submit" class="iati-button sign-up-email__button" name="button">Sign up</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-meta">
    <div class="container">
      <p class="footer-meta__copyright">Copyright IATI. All rights reserved</p>
      <div class="meta-social">
        <a href="https://twitter.com/IATI_aid" class="meta-social__link meta-social__link--twitter"></a>
        <a href="https://www.youtube.com/channel/UCAVH1gcgJXElsj8ENC-bDQQ" class="meta-social__link meta-social__link--youtube"></a>
      </div>
    </div>
  </div>
</footer>
