// .search-container {

// }

.organisation-search-form {
  width: 500px;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  @media (max-width: 600px) {
    width: auto;
  }
}

.organisation-search-form .search-input {
  width: 350px;
  font-size: 1.6rem;
  line-height: 1.25;
  color: rgb(70, 74, 76);
  padding: 0.9rem 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.14902);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.organisation-search-form button {
  width: 150px;
  border-radius: 0 !important;
  text-align: center;

  @media (max-width: 600px) {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
