@import "variables";

.urls-upload {
  position: relative;
  top: 17px;
}

.disable {
  .step {
    border: 1px solid lightgray;
    color: $gray-600;
    box-shadow: initial;
  }

  .iati-file-label {
    color: #fff;
    background-color: #00c497;
    border-color: #00c497;
  }
}

.step {
  padding: 12px;
  margin: 24px;
  border: 1px solid lightgray;
  height: 101px;
  max-width: 500px;
  font-size: 1.5em;
  color: $gray-600;
  border-radius: $border-radius;

  &:first-child {
    overflow: auto;
  }

  .row {
    max-width: 100%;
  }

  .selected-files {
    padding: 1em;
    margin-left: 0.5em;
    border: 2px solid #06dbe4;
    border-radius: 6px;
  }

  .file-name-p {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  &:not(.next) {
    h5 {
      user-select: none;
    }

    .iati-button:hover {
      color: #fff;
      background-color: #00c497;
      border-color: #00c497;
      cursor: initial;
    }
  }
}

.step-title {
  font-size: 1em;
}

.next {
  border-color: $warning;

  -webkit-box-shadow: 3px 3px 4px 0px rgba(242, 113, 96, 0.3);
  -moz-box-shadow: 3px 3px 4px 0px rgba(242, 113, 96, 0.3);
  box-shadow: 3px 3px 4px 0px rgba(242, 113, 96, 0.3);

  color: inherit;
}

.file-name,
.urls-input {
  padding: 5px;
  margin-bottom: 10px;
}

.incorrect-urls-warning {
  font-size: 1em;
  color: $yellow;
}
