<div class="mycard">
  <a class="workspace-link" [routerLink]="['ws', workspace.slug ]">

    <div class="mycard-title">
        {{workspace.title}}
    </div>
    <div class="mycard-body">
        <p class="card-text">{{workspace.description}}</p>
    </div>

  </a>
  </div>


<!-- <a class="workspace-link" [routerLink]="['workspace', workspace.slug ]">
  <div class="card">
    <div class="card-header">
      {{workspace.title}}
    </div>
    <div class="card-body">
      <p class="card-text">{{workspace.description}}</p>
    </div>
  </div>
</a> -->
