@import "variables";

.row {
  padding: 3px 0;
  margin-right: 0;
  margin-left: 0;

}
.row.dqf {
  cursor: pointer;
  color: $success;
  font-weight: 700;
}

.row.dqf:hover {
  background-color: lightyellow;
}

.dqf-button {
  padding: 0;
}
