<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="organisation-name">Organisation name</h1>
      <h2 class="workspace-name">Workspace name</h2>
    </div>
    <div class="col-md-auto version-col">
      <div class="version-wrapper">
        <label for="versionSelect">Version</label>
        <select class="version-select custom-select" id="versionSelect" (change)="selectedVersion($event.target.value)">
          <option *ngIf="versionid ===''" selected value="" >Select a version...</option>
          <option *ngFor="let vers of versions" value="{{ vers.slug }}" >{{vers.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="versionid ===''" class="no-version-selected">
    <h4>Please select a version.</h4>

    <div class="list-group">
      <a *ngFor="let vers of versions" [routerLink]="[vers.slug]" class="list-group-item list-group-item-action">
        {{ vers.name }}
      </a>
    </div>

  </div>

  <app-workspace-view-item *ngIf="versionid !==''" [version]="currentVersion"></app-workspace-view-item>

</div>

