<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="organisation-name">Organisation name</h1>
      <h2 class="workspace-name">Workspace name</h2>
    </div>
    <div class="col-md-auto version-col">
      <div class="version-wrapper">
        <label for="versionSelect">Version</label>
        <select class="version-select custom-select" id="versionSelect">
          <option>Current data</option>
          <option>15 november 2017</option>
          <option>11 oktober 2017</option>
        </select>
      </div>

    </div>
  </div>

  <app-workspace-view-item></app-workspace-view-item>
  <app-workspace-view-item></app-workspace-view-item>


</div>

