<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="organisation-name">{{ organisationData?.name }}</h1>
      <h2 class="workspace-name"> {{ workspaceData.title }} </h2>
      <p>{{ workspaceData.description }}</p>
    </div>
    <div class="col-md-auto version-col">
      <div class="version-wrapper">
        <label for="versionSelect">Version</label>
        <select [(ngModel)]="versionid" class="version-select custom-select"  #versionSelect (change)="selectedVersion(versionSelect.value )">
          <option *ngIf="versionid ===''" selected value="" >Select a version...</option>
          <option *ngFor="let vers of workspaceData.versions" value="{{ vers.slug }}" >{{vers.title}}</option>
        </select>
      </div>
    </div>
  </div>

<div *ngIf="workspaceData.id===''" class="no-version-selected">
  <h4>No workspace found.</h4>
</div>

<div *ngIf="versions?.length === 0" class="no-version-selected">
  <h4>No versions found.</h4>
</div>

  <div *ngIf="versionid ==='' && versions?.length !== 0" class="no-version-selected">
    <h4>Please select a version.</h4>

    <div class="list-group">
      <a *ngFor="let vers of workspaceData.versions" [routerLink]="[vers.slug]" class="list-group-item list-group-item-action">
        {{ vers.title }}
      </a>
    </div>

  </div>

  <app-workspace-view-item *ngIf="versionid !==''" [versionid]="versionid"></app-workspace-view-item>

</div>

