<div *ngIf="versionData === undefined">
  <p>No version data found.</p>
</div>

<div *ngIf="versionData !== undefined">
  <div>
    Version: {{ versionData.title }}
    <br>
    <!-- Last modified: {{ versionData.last_modified }} <br> -->
    <!-- Description: {{ versionData.description }} <br> -->
  </div>


  <div class="files">
    <div class="row heading">
      <div class="col">
        File name
      </div>
      <div class="col">
        Last updated
      </div>
    </div>
    <app-workspace-view-item-file *ngFor="let m of versionData.md5" [md5]="m" (selectedMd5)="md5Selected($event)"> </app-workspace-view-item-file>
  </div>

</div>
