@import "variables";

// .view-type tbody {
//   cursor: pointer;
// }

// .view-type {
//   margin: 20px 0;
// }

.version-info {
  text-align: right;
}

.files {
  // margin: 10px 10px;
  border: 1px solid lightgray;
  border-radius: $border-radius;
  font-size: 1.5em;
}

.files > .heading {
  background-color: $gray-200;
  padding: 6px 0;
  font-weight: 700;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
