<div *ngIf="versionData == undefined">
  <p>No data found.</p>
</div>

<div *ngIf="versionData != undefined">
  <div>
    Version: {{ versionData.title }} <br>
    Last modified: {{ versionData.last_modified }} <br>
    Description: {{ versionData.description }} <br>
  </div>

  <div *ngFor="let viewGroup of viewData" class="view-type"  >
      <h4 class="view-name">{{ viewGroup.typeName }}</h4>
      <table class="table table-hover view-table">
        <thead>
          <tr >
            <th *ngFor="let prop of viewGroup.views[0].properties" scope="col">{{prop.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let view of viewGroup.views" (click)="rowClick( view.type, view.id )">
            <td *ngFor="let prop of view.properties" >{{prop.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>

</div>

