<div *ngIf="files === undefined">
  <p>No files found.</p>
</div>

<div *ngIf="files !== undefined" class="result-validation-table">
  <div class="files">
    <div class="row heading">
      <div class="col-12 col-md">
        File name
      </div>
      <div class="col-12 col-md d-none d-md-block">
        First downloaded
      </div>
      <div class="col-12 col-md d-none d-md-block">
        Report generated
      </div>
      <div class="col-12 col-md d-none d-md-block">
        Validation report available
      </div>
    </div>
    <app-workspace-view-item-file *ngFor="let m of files" [md5]="m.md5" (selectedMd5)="md5Selected($event)"> </app-workspace-view-item-file>
  </div>

</div>
