<div class="container">
  <h1>Public data viewer</h1>
  <p>Search for an organisation and access the validation results on their public IATI data.
    The organisation list and the public IATI data is regularly refreshed from the IATI Registry.
    New organisations and IATI files will not immediately be visible here, but after at most a day.
  </p>
  <app-organisations-search (search)="searchOrganisation($event)"></app-organisations-search>
  <div *ngIf="isSearching" class="text-info" style="margin-top: 5px; color:darkslategray">
    <app-spinner [backColor]="'#81c3d6'">Loading organisations...</app-spinner>
  </div>
  <app-organisations-list [organisations]="filteredOrganisations"></app-organisations-list>
</div>
