<div *ngIf="document" class="extra-report-info">
  <div class="documents">
    <div class="row heading">
      <div class="col-12 col-md d-none d-md-block">
        Identified in Registry
      </div>
      <div class="col-12 col-md d-none d-md-block">
        Validated
      </div>
      <div class="col-12 col-md d-none d-md-block">
        Validation Status
      </div>
      <div class="col-12 col-md d-none d-md-block">
        Available in IATI Datastore
      </div>
    </div>
  </div>
</div>
