<div class="feedback-group">
  <div class="feedback-heading row">
    <div class="col title-col" (click)="collapse()">
      <div class="title-col__title-label">Activity title</div>
      <h5 class="feedback-group-title title d-inline" >{{ activity.title }}</h5>
      <div class="d-inline float-right">
        <span class="identifier-link"><a href="{{getLinkDportal(activity.publisher, cleanIdentifier(activity.identifier))}}" target="_blank" (click)="$event.stopPropagation()">{{ cleanIdentifier(activity.identifier)}}</a></span>
        <span class="badge badge-critical" *ngIf="getIssueCount('critical')>0">{{getIssueCount('critical')}}</span>
        <span class="badge badge-danger" *ngIf="getIssueCount('danger')>0">{{getIssueCount('danger')}}</span>
        <span class="badge badge-warning" *ngIf="getIssueCount('warning')>0">{{getIssueCount('warning')}}</span>
        <span class="badge badge-info" *ngIf="getIssueCount('info')>0">{{getIssueCount('info')}}</span>
        <span class="badge badge-success" *ngIf="getIssueCount('success')>0">{{getIssueCount('success')}}</span>
      </div>
    </div>
    <div class="col-auto collapse-col" (click)="collapse()">
        <button type="button" class="btn btn-outline-secondary collapser" >
          <span *ngIf="!isCollapsed"><img src="assets/icons/arrow_down_24.svg" alt="icon arrow down"></span>
          <span *ngIf="isCollapsed" > <img src="assets/icons/arrow_up_24.svg" alt="icon arrow up"> </span>
        </button>
    </div>

  </div>
  <div class="feedback-items" [ngbCollapse]="isCollapsed">
    <app-feedback-item *ngFor="let fb of activity.feedback" [feedback]="fb" ></app-feedback-item>
  </div>  
</div>



