@import "variables";

.feedback-group {
  margin: 0 0 10px 0;
  border: 1px lightgray solid;
  border-radius: $border-radius;
}

.feedback-heading {
  font-weight: 700;
  font-size: 18px;
  padding: 14px 0;
  // background-color: rgba(0, 0, 0, 0.03);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

// .feedback-heading  h4 {
//   cursor: pointer;
// }

.title-col {
  padding-right: 0;
  cursor: pointer;
  .title-col__title-label {
    font-size: 1.3rem;
  }
}

// .collapse-col {
//   margin-left: 0;
// }

.identifier-link {
  font-size: 16px;
  margin-right: 8px;
}

.feedback-items {
  padding: 14px;
}

.btn.collapser {
  margin-left: 12px;
  padding: 0;
  // font-size: 1.40625rem;
  // font-weight: 700;
  line-height: 1;
  text-shadow: none;
  opacity: .5;
  border-style: none;
}

.btn.collapser:hover {
  background-color: inherit;
}

.btn.collapser:focus, .btn.collapser.focus {
  box-shadow: none;
}

.badge-critical{
  background-color: $severity-critical;
  color:white;
}

.feedback-group-title {
  font-size: 1em;
}
