<nav class="navbar navbar-light">
  <div class="navbar__header">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
     data-toggle="collapse"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
    <div class="navbar-menu">
      <a
        class="navbar-menu__item nav-link"
        href="https://iatistandard.org/about/">
        About
      </a>
      <a
        class="navbar-menu__item nav-link"
        href="https://iatistandard.org/iati-standard/"
      >
        IATI Standard
      </a>
      <a
        class="navbar-menu__item nav-link"
        href="https://iatistandard.org/using-data/"
      >
        Using Data
      </a>
      <a
        class="navbar-menu__item nav-link"
        href="https://iatistandard.org/using-data/"
      >
        Guidance & Support
      </a>
      <a
        class="navbar-menu__item nav-link"
        href="https://iatistandard.org/using-data/"
      >
        Community
      </a>
    </div>
  </div>
  <div class="navbar-submenu">
    <a href="https://iatistandard.org/news/" class="navbar-sudmenu__item">News</a>
    <a href="https://iatistandard.org/events/" class="navbar-sudmenu__item">Events</a>
    <a href="https://iatistandard.org/contact/" class="navbar-sudmenu__item">Contact</a>
  </div>
</nav>
