<nav class="navbar navbar-light">
  <div class="navbar__header">
    <a class="navbar-brand" href="https://iatistandard.org" title="To the main IATI Standard website"></a>
    <button class="navbar-toggler" type="button"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        data-toggle="collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
    <div class="navbar-menu">
      <a
        routerLink="/"
        class="navbar-menu__item nav-link"
        (click)="activeTab='feedback'"
        [ngClass]="{'submenu__link--active': activeTab === 'feedback'}">
        Home
      </a>
      <a
        class="navbar-menu__item nav-link"
        routerLink="/about">
        About Validator
      </a>
      <a
        routerLink="/validate"
        class="navbar-menu__item nav-link"
        (click)="activeTab='validate'"
        [ngClass]="{'submenu__link--active': activeTab === 'validate'}">
        Check data
      </a>
      <a
        routerLink="/organisations"
        class="navbar-menu__item nav-link"
        (click)="activeTab='organisations'"
        [ngClass]="{'submenu__link--active': activeTab === 'organisations'}">
        Public data viewer
      </a>
      <a
        href="https://developer.iatistandard.org/api-details#api=iati-validator-v2" 
        target="_blank"
        class="navbar-menu__item nav-link"
        >
        Public API
      </a>
    </div>
  </div>
</nav>
