.options {
  display: flex;
  flex-wrap: wrap;
  //compensate for the margin of the boxes
  margin: -10px;
}

.validate, .browse {
  flex: 1 1 auto ;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
}

.optionbutton {
  margin-top:auto;
  }
