<div class="container home-container">

  <p class="lead">The IATI Validator is an online tool for checking if data aligns with the rules and guidance of IATI Standard. 
      It allows users to check and improve the quality of IATI data to ensure it is accessible and useful to anyone 
      working with data on development and humanitarian resources and results.</p>    
  <p>&nbsp;</p>

  <div class="options">
    <div class="validate border">
      <h3 class="validate__title">Check data</h3>
      <p>Check your IATI data.</p>
      <ul>
        <li>Select your IATI file.</li>
        <li>Upload your IATI file.</li>
        <li>Get validation results of your IATI file.</li>
      </ul>
      <a class="btn btn-primary btn-lg optionbutton iati-button" routerLink="/validate" role="button">Check data</a>
    </div>
    <div class="browse border">
      <h3 class="browse__title">Public data viewer</h3>
      <p>Check all files published on the IATI Registry</p>
      <ul>
        <li>Find an organisation.</li>
        <li>See the IATI files published by the organisation.</li>
        <li>Get validation results of an IATI file.</li>
      </ul>
      <a class="btn btn-primary btn-lg optionbutton iati-button" routerLink="/organisations" role="button">Public data viewer</a>

    </div>
  </div>

</div>
