<div class="container">

  <div class="jumbotron">
    <h1 class="display-3">IATI Data Quality Feedback</h1>
    <h2>Delivering valid IATI files made easy.</h2>
    <hr class="my-4">
    <p class="lead">Validate your IATI files and browse public IATI files.</p>
    <p class="lead">Supported by the Ministry of Foreign Affairs, The Netherlands and the Department for International Development, UK.</p>
  </div>
  <div class="options">
    <div class="validate border rounded">
      <h3>Validate your IATI file</h3>
      <p>Check your IATI file.</p>
      <ul>
        <li>Upload your IATI file.</li>
        <li>Get feedback on the quality of your data.</li>
        <li>Ready.</li>
      </ul>
      <a class="btn btn-primary btn-lg optionbutton" routerLink="/validate" role="button">Validate file</a>

    </div>
    <div class="browse border rounded">
      <h3>Browse public IATI files</h3>
      <p>See data quality feedback on public IATI files.</p>
      <ul>
        <li>Find an organisation.</li>
        <li>See the IATI files published by the organisation.</li>
        <li>Get feedback on the quality of an IATI file.</li>
      </ul>
      <a class="btn btn-primary btn-lg optionbutton" routerLink="/organisations" role="button">Browse public IATI data</a>

    </div>
  </div>

</div>
