<div class="xml-feedback">

<div class="feedback-heading row">
        <div class="col title-col" (click)="collapse()">
          <h5 class="feedback-single-title title d-inline" >{{title}}</h5>
          <div class="d-inline float-right" *ngIf="feedbackData.length>0">
            <span class="badge badge-critical" *ngIf="getIssueCount('critical')>0">{{getIssueCount('critical')}}</span>
            <span class="badge badge-danger" *ngIf="getIssueCount('error')>0">{{getIssueCount('error')}}</span>
            <span class="badge badge-warning" *ngIf="getIssueCount('warning')>0">{{getIssueCount('warning')}}</span>
            <span class="badge badge-info" *ngIf="getIssueCount('info')>0">{{getIssueCount('info')}}</span>
            <span class="badge badge-success" *ngIf="getIssueCount('success')>0">{{getIssueCount('success')}}</span>
          </div>
        </div>
        <div class="col-auto collapse-col" (click)="collapse()">
            <button type="button" class="btn btn-outline-secondary collapser" >
              <span *ngIf="!isCollapsed"><img src="assets/icons/arrow_down_24.svg" alt="icon arrow down"></span>
              <span *ngIf="isCollapsed" > <img src="assets/icons/arrow_up_24.svg" alt="icon arrow up"> </span>
            </button>
        </div>
    
      </div>
      <div class="feedback-items" [ngbCollapse]="isCollapsed" *ngIf="feedbackData.length>0;else noFeedbackData">
        <app-feedback-item *ngFor="let fb of feedbackData" [feedback]="fb" [guidanceLinks]=guidanceLinks></app-feedback-item>
      </div>
      </div>

      <ng-template #noFeedbackData>
        <div class="feedback-items collapse show" *ngIf="!fileErrorsOrigStatus">
          <div class="feedback">
            <ul class="feedback-list">
              <li class="message success">
                <span class="message-text" >Congratulations! This IATI {{item}} file has successfully passed IATI XML schema validation!</span>
              </li>
            </ul>

          </div>
        </div>
      </ng-template>
