<div class="container">
  <a class="back-link" *ngIf="tmpWorkspaceId" [routerLink]="['/validate', tmpWorkspaceId]" >Return to workspace</a>
  <h1>Check data</h1>

  <div class="row">
    <div class="col">
      <app-upload-file
        (setActiveMode)="setActiveMode($event)"
        (clear)="clear()"
        [mode]="mode"
      ></app-upload-file>
    </div>
    <div class="col">
      <app-upload-urls
        (setActiveMode)="setActiveMode($event)"
        (clear)="clear()"
        [mode]="mode"
      ></app-upload-urls>
    </div>
  </div>
