<div class="container-fluid">
  <div class="content-block" *ngIf="tmpWorkspaceId">
    <a [routerLink]="['/validate', tmpWorkspaceId]" >&lt;&lt; Return to your workspace</a>
  </div>
  <div class="row alert alert-light">
    <div class="col">
      <h1>File validation report</h1>
      <app-main-report-info *ngIf="documentInfo && organisationInfo" [documentInfo]="documentInfo" [organisationInfo]="organisationInfo"></app-main-report-info>
      <app-iati-info *ngIf="documentInfo && validationReport" [documentInfo]="documentInfo" [validationReport]="validationReport"></app-iati-info>
    </div>
  </div>

  <div *ngIf="isLoading" class="alert alert-info" role="alert">
    <app-spinner [backColor]="'white'"></app-spinner>
    <span class="loading-text">Loading report...</span>
  </div>
  <div *ngIf="documentInfo===undefined && validationReport===undefined && !isLoading " class="alert alert-warning"
    role="alert">
    <h2>No data found.</h2>
    <p>It looks like the url is not valid.</p>
    <ul>
      <li (click)="goBack()">
        <button type="button" class="btn btn-link">Go back to the previous page.</button>
      </li>
      <li>
        <button routerLink="\" type="button" class="btn btn-link">Go to the home page.</button>
      </li>
    </ul>
  </div>

  <div *ngIf="(documentInfo!==undefined || validationReport!==undefined) && !isLoading" class="row">
    <div class="col-md-4 filters">
      <h4>Filters</h4>
      <app-filter-severity [severities]="severities" (selectedChanged)="severitySelectedChanged()">
      </app-filter-severity>
      <app-filter-category [categories]="categories" (selectedChanged)="categorySelectedChanged()">
      </app-filter-category>
    </div>
    <div class="col-md-8 results">
      <h4>Feedback</h4>
      <div *ngIf="validationReport">
        <!-- Determine which components to display -->
        <div *ngIf="fileType==='iati-activities'">
          <app-single-feedback [feedbackData]="fileErrors" [title]="'Activity file feedback'" [item]="'activity'" [items]="'activities'"></app-single-feedback>
          <app-multi-feedback [activityData]="activityErrors" [title]="'Feedback per activity'" [item]="'activity'" [items]="'activities'" [organisationInfo]="organisationInfo"></app-multi-feedback>
        </div>

      </div>
      <div *ngIf="fileType==='iati-organisations'">
        <app-single-feedback [feedbackData]="fileErrors" [title]="'Organisation file feedback'" [item]="'organisation'" [items]="'organisations'" ></app-single-feedback>
        <app-multi-feedback [activityData]="activityErrors" [title]="'Organisation feedback'" [item]="'organisation'" [items]="'organisations'" [organisationInfo]="organisationInfo"></app-multi-feedback>
      </div>
      <div *ngIf="fileType===''">
        <app-single-feedback [feedbackData]="fileErrors" [title]="'Not an IATI file'"></app-single-feedback>
      </div>


    </div>
  </div>
</div>
