<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>IATI Data Quality Feedback</h1>
      <h3>Organisation name</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 filters">
      <h4>Filters</h4>
      <app-filter-severity [severities]="severities" (selectedChanged)="severitySelectedChanged()" ></app-filter-severity>
      <app-filter-source [sources]="sources" (selectedChanged)="categorySelectedChanged()" ></app-filter-source>
      <app-filter-type></app-filter-type>
    </div>
    <div class="col-md-9 results">
      <app-feedback [activityData]="activities"></app-feedback>
    </div>
  </div>
</div>
