@import "./../../../../styles/variables";

.loading-text {
  margin-left: 12px;
  
}

.btn-link {
  color: white;
}

.content-block {
  margin-bottom: 2em;
  font-size: 1.5em;
}

.file-success {
  color: $success;
  font-weight: 1000;
}
.file-critical {
  color: $severity-critical;
  font-weight: 700;
}
.file-error {
  color: $severity-error;
  font-weight: 700;
}
.file-warning {
  color: $severity-warning;
  font-weight: 700;
}

.mycard {
  width: 100%;
  margin: 10px;
  border: 1px lightgray solid;
  border-radius: $border-radius;
  font-family: Lato;
}

.mycard-body {
  padding: 14px;
}