<div class="container-fluid">
  <div class="content-block" *ngIf="tmpWorkspaceId">
    <a [routerLink]="['/validate', tmpWorkspaceId]" >&lt;&lt; Return to your workspace</a>
  </div>
  <div class="row alert alert-light">
    <div class="col">
      <h1>File validation report</h1>
      <app-main-report-info *ngIf="dataset" [id]="dataset.id"></app-main-report-info>
      <app-iati-info [data]="data"></app-iati-info>
    </div>
  </div>

  <div *ngIf="isLoading" class="alert alert-info" role="alert">
    <app-spinner [backColor]="'white'"></app-spinner>
    <span class="loading-text">Loading report...</span>
  </div>
  <div *ngIf="activityData===undefined && companyFeedbackData===undefined && !isLoading " class="alert alert-warning"
    role="alert">
    <h2>No data found.</h2>
    <p>It looks like the url is not valid.</p>
    <ul>
      <li (click)="goBack()">
        <button type="button" class="btn btn-link">Go back to the previous page.</button>
      </li>
      <li>
        <button routerLink="\" type="button" class="btn btn-link">Go to the home page.</button>
      </li>
    </ul>
  </div>

  <div *ngIf="(activityData!==undefined || companyFeedbackData!==undefined) && !isLoading" class="row">
    <div class="col-md-4 filters">
      <h4>Filters</h4>
      <app-filter-severity [severities]="severities" (selectedChanged)="severitySelectedChanged()">
      </app-filter-severity>
      <!-- <app-filter-source [sources]="sources" (selectedChanged)="sourceSelectedChanged()"></app-filter-source> -->
      <app-filter-category [categories]="categories" (selectedChanged)="categorySelectedChanged()">
      </app-filter-category>
    </div>
    <div class="col-md-8 results">
      <h4>Feedback</h4>
      <div *ngIf="companyFeedback">
        <!-- Determine which components to display -->
        <div *ngIf="filetype==='iati-activities'">
          <app-single-feedback [feedbackData]="companyFeedback" [title]="'Activity file feedback'" [item]="'activity'" [items]="'activities'"></app-single-feedback>
          <app-multi-feedback [activityData]="activities" [title]="'Feedback per activity'" [item]="'activity'" [items]="'activities'" [dqfs]="data"></app-multi-feedback>
        </div>

      </div>
      <div *ngIf="filetype==='iati-organisations'">
        <app-single-feedback [feedbackData]="companyFeedback" [title]="'Organisation file feedback'" [item]="'organisation'" [items]="'organisations'" ></app-single-feedback>
        <app-multi-feedback [activityData]="activities" [title]="'Organisation feedback'" [item]="'organisation'" [items]="'organisations'" [dqfs]="data"></app-multi-feedback>
      </div>
      <div *ngIf="filetype==='not-iati'">
        <app-single-feedback [feedbackData]="companyFeedbackData" [title]="'Not an IATI file'"></app-single-feedback>
      </div>


    </div>
  </div>
</div>
