@import "variables";

.hidden {
  display: none;
}

.title-col {
  cursor: pointer;
}

.btn.collapser {
  margin-left: 12px;
  padding: 3px 6px;
  font-size: 1.40625rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: none;
  opacity: .7;
}

.error {
  background-color: $severity-error;
  color: white;
}
.warning {
  background-color: $severity-warning;
  color: white;
}
.improvement {
  background-color: $severity-improvement;
  color: white;
}
.notification {
  background-color: $severity-notifications;
  color: white;
}
